html{
    scroll-behavior: smooth;
}
.about-section {
    padding: 4rem 5%;
    background-color: #fdfdfd;
    color: #333;
    text-align: center;
}

.about-section h2 {
    font-size: 32px;
    margin-bottom: 1.5rem;
    color: #007acc;
}

.about-content {
    max-width: 800px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.8;
}


/* profile section */

.profile-section {
    padding: 4rem 5%;
    background-color: #ffffff;
    text-align: center;
}

.profile-section h2 {
    font-size: 28px;
    color: #007acc;
    margin-bottom: 1.5rem;
}

.profile-section p {
    max-width: 800px;
    margin: 1rem auto;
    font-size: 16px;
    line-height: 1.8;
    color: #333;
}

